PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=
ETH_SEPOLIA_RPC_URL=
UNICHAIN_SEPOLIA_RPC_URL=https://sepolia.unichain.org
REACTIVE_RPC_URL=https://lasna-rpc.rnk.dev/
REACTIVE_CHAIN_ID=5318007
REACTIVE_SYMBOL=lREACT
REACTIVE_SYSTEM_CONTRACT=0x0000000000000000000000000000000000fffFfF
CALLBACK_PROXY=
REACTIVE_SENDER=

BASE_SEPOLIA_CALLBACK_PROXY=
UNICHAIN_SEPOLIA_CALLBACK_PROXY=
SEPOLIA_CALLBACK_PROXY=
RVM_ID=

FEECOMPOUNDER_BASE_SEPOLIA_TOKEN0=
FEECOMPOUNDER_BASE_SEPOLIA_TOKEN1=
FEECOMPOUNDER_BASE_SEPOLIA_HOOK=
FEECOMPOUNDER_BASE_SEPOLIA_AAVE_ADAPTER=
FEECOMPOUNDER_BASE_SEPOLIA_MORPHO_ADAPTER=
FEECOMPOUNDER_BASE_SEPOLIA_POOL_REINVEST_ADAPTER=
FEECOMPOUNDER_BASE_SEPOLIA_RSC=

FEECOMPOUNDER_UNICHAIN_SEPOLIA_TOKEN0=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_TOKEN1=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_HOOK=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_AAVE_ADAPTER=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_MORPHO_ADAPTER=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_POOL_REINVEST_ADAPTER=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_POOL_ID=
FEECOMPOUNDER_UNICHAIN_SEPOLIA_RSC=

FEECOMPOUNDER_POOL_FEE=3000
FEECOMPOUNDER_TICK_SPACING=60
